{% extends 'base.html' %}

{% block content %}

<h1>All Recipes</h1>
<a href="{% url 'recipe_create' %}" class="btn btn-primary">Add New Recipe</a>


<div class="recipe-grid">

{% for recipe in recipes %}

<div class="recipe-card">

    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    {% endif %}

    <h3>{{ recipe.title }}</h3>

    <a href="{% url 'recipe_detail' recipe.pk %}">View</a>
    <a href="{% url 'recipe_update' recipe.pk %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>

</div>

{% empty %}

<p>No recipes found.</p>

{% endfor %}

</div>

{% endblock %}